*{ 
    margin: 0;
    padding: 0;
    
    
      
}
.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 300;
    font-style: normal;
  }
nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 100px;
    background-color: rgba(67, 18, 99, 0);
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
nav ul li a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
}
.centent{
    padding-top:5px;
    justify-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: 15s;

}
.centent h1{
    font-size: 160px;
    color: aliceblue;
    font-weight:600 ;

}
.centent h1:hover{
    -webkit-text-stroke:2px #000000;
    color: transparent;
}
   
.bgvideo{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9){
    .bgvideo{
        width: 100%;
        height: auto;
    }
    
}
@media (max-aspect-ratio:16/9){
    .bgvideo{
        width: auto;
        height: 100%;
    }
    
}
.left{
    font-size: 40px;
    color: #fff;

}


.serach-box {
    max-width: 400px; /* Adjust the maximum width as per your design */
    margin: 0 auto; /* Center the search box horizontally */
    padding-bottom: 50px;
}

.serach-box input[type="text"] {
    width: 105%;
    margin-top: 30px;
    font-size: large;
    padding: 18px 30px;
    padding-right: 60px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.041);
    border-radius: 20px;
}
.detail ul{
    display: flex;
    padding-top: 100px;
    justify-content: space-around;
    font-size: 20px;
}
.detail ul li{
    tab-size: 200px;    
    list-style: none;
    color: #fff;
}
.fa-magnifying-glass{
    position: absolute;
    top: 27%;
    left: 70%;
    font-size: large;
    color: #fff;
}
.h22{
    display: flex;
    justify-content: center;
    color: #fff;
}
.right{
    font-size: large;
}
.backgroundvideo{
    width: 100%;
    height: 100%;
    
}
.city{
    padding: auto;	
    max-width: 100%vh;
    position: relative;
    font-size: 100px;
    
}
